@media(max-width: 1199px) and (min-width: 1024px){
	.main_title {
    position: relative;
}
.main_title h1 {
    font-size: 30px;
}
.sec01 {
    position: relative;
    margin-bottom: 0;
}
.main_img {
    width: 50px;
    height: 50px;
}
.img_top_main {
    position: absolute;
    right: 0;
    top: -112px;
    overflow: hidden;
    max-width: 550px;
    width: 100%;
}
.img_top_main img {
    max-width: 100%;
    width: 100%;
}
.our_1 {
    position: absolute;
    top: 128px;
    z-index: 999;
    left: 159px;
}
.our_2 {
    position: absolute;
    top: 194px;
    z-index: 999;
    left: 80px;
}
.our_3 {
    position: absolute;
    top: unset;
    z-index: 999;
    left: 50px;
    bottom: 180px;
}
.our_4 {
    position: absolute;
    bottom: 70px;
    z-index: 999;
    left: 130px;
}
.our_5 {
    position: absolute;
    bottom: 80px;
    z-index: 999;
    right: 210px;
}
.our_6 {
    position: absolute;
    bottom: 153px;
    z-index: 999;
    right: 89px;
}
.our_hg {
    position: absolute;
    bottom: 219px;
    left: 160px;
    width: 160px;
}
.main_header .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
}
.cont_limi{
    min-height: 100px;
}
.cont_limi.long_cont{
 min-height: 120px;   
}
.sec07 .cont_icon_o .heding_con h6 {
    font-size: 16px;
    min-height: 40px;
    margin-bottom: 0;
}
.sec07 .cont_icon_o.svg_img .cont_limi {
    min-height: 140px;
}
.post h6 {
    text-align: left;
    font-size: 14px;
}
.section11 .main_heading p br {
    display: none;
}
.our_brands {
    height: 100%;
}
}
@media(max-width: 1023px) and (min-width: 992px){
    .main_header .navbar-light .navbar-nav .nav-link {
    font-size: 14px;
}
.main_img {
    width: 50px;
    height: 50px;
}
.img_top_main {
    position: absolute;
    right: 0;
    top: -112px;
    overflow: hidden;
    max-width: 550px;
    width: 100%;
}
.img_top_main img {
    max-width: 100%;
    width: 100%;
}
.sec01 {
    position: relative;
    margin-bottom: 0;
}
.our_1 {
    position: absolute;
    top: 128px;
    z-index: 999;
    left: 159px;
}
.our_2 {
    position: absolute;
    top: 194px;
    z-index: 999;
    left: 80px;
}
.our_3 {
    position: absolute;
    top: unset;
    z-index: 999;
    left: 50px;
    bottom: 180px;
}
.our_4 {
    position: absolute;
    bottom: 70px;
    z-index: 999;
    left: 130px;
}
.our_5 {
    position: absolute;
    bottom: 80px;
    z-index: 999;
    right: 210px;
}
.our_6 {
    position: absolute;
    bottom: 153px;
    z-index: 999;
    right: 89px;
}
.our_hg {
    position: absolute;
    bottom: 219px;
    left: 160px;
    width: 160px;
}
.cont_limi{
    min-height: 100px;  
}
.sec05 .cont_limi.long_cont{
 min-height: 120px; 
}
.sec07 .heding_con h6 {
    min-height: 40px;
}
.sec07 .cont_icon_o.svg_img .cont_limi {
    min-height: 140px;
}
.sec03 p.cont_limi {
    min-height: 170px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.section11 .main_title span br {
    display: none;
}
.sec03 .heding_con h6 {
    min-height: 40px;
}
.section11 .main_heading p br {
    display: none;
}
}
@media(max-width: 991px) and (min-width: 768px){
.main_img {
    width: 50px;
    height: 50px;
}
.img_top_main {
    position: absolute;
    right: 0;
    top: -112px;
    overflow: hidden;
    max-width: 500px;
    width: 100%;
}
.img_top_main img {
    max-width: 100%;
    width: 100%;
}
.sec01 {
    position: relative;
    margin-bottom: 0;
}
.our_1 {
    position: absolute;
    top: 128px;
    z-index: 999;
    left: 159px;
}
.our_2 {
    position: absolute;
    top: 194px;
    z-index: 999;
    left: 80px;
}
.our_3 {
    position: absolute;
    top: unset;
    z-index: 999;
    left: 50px;
    bottom: 180px;
}
.our_4 {
    position: absolute;
    bottom: 70px;
    z-index: 999;
    left: 130px;
}
.our_5 {
    position: absolute;
    bottom: 80px;
    z-index: 999;
    right: 210px;
}
.our_6 {
    position: absolute;
    bottom: 153px;
    z-index: 999;
    right: 89px;
}
.our_hg {
    position: absolute;
    bottom: 219px;
    left: 160px;
    width: 160px;
}
.main_title {
    padding-top: 20px;
    box-sizing: border-box;
    padding-bottom: 100px;
    position: relative;
}
.main_title h1 {
    font-size: 20px;
}
.cont_icon_o.list_type_d .heding_con {
    padding-top: 10px;
    margin-bottom: 10px;
}
.cont_icon_o.list_type_d .cont_limi {
    min-height: auto;
}
.main_contant {
    max-width: 100%;
}
.title_1 {
    font-size: 18px;
    font-weight: 600;
}
#navbarTogglerDemo02 {
    background: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    padding: 10px;
    z-index: 9999;
}
.sec01 .main_title p br {
    display: none;
}
.sec02 .our_ser h2.title_1 br {
    display: none;
}
.sec02 .list_out span.con_list {
    font-size: 13px;
}
.sec03 .cont_limi {
    min-height: 100px;
}
.sec05 .cont_limi.long_cont {
    min-height: 160px;
}
.sec03 .cont_limi {
    min-height: 120px;
}
.section11 .main_title span br {
    display: none;
}
.section11 .ix_icon{
  min-height: 155px;
}
.link_wr li {
    width: 100%;
    float: none;
    display: block;
}
.navbar-light .navbar-toggler-icon{
    background-image: url(../img/menu.png);
    background-size: cover;
    background-position: top 2px center;
    font-size: 13px;
}
.navbar-light .navbar-toggler {
    background-color: transparent;
    border: solid 1px #ffff;
    padding: 5px 10px;
    box-sizing: border-box;
}
.main_header{
    position: relative;
}
#navbarTogglerDemo02 {
    position: absolute;
    top: 68px;
    left: 0;
    background: #52bd94;
    width: 100%;
    padding: 15px 30px 50px;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.main_header .container {
    position: relative;
}

.cont_us.btn.btn3 {
    background: transparent;
    color: #52BD94;}

.cont_us.btn.btn3 a {
    color: #52bd94;
    background: white;
}
.section11 .main_heading p br {
    display: none;
}
}

@media(max-width: 767px){
	.inner_img_clinet::before {
    bottom: 35px;
    height: 25px;
}
.inner_img_clinet::after {
    top: 35px;
    height: 25px;
}
.inner_img_clinet {
    width: 150px;
    border-radius: 15px;
    overflow: hidden;
}
.img_client {
    max-width: 150px;
    margin: auto;
}
.slider_gtf .owl-dots {
     position: unset; 
    width: 100%; 
    bottom: 0;
}
.main_contant {
    display: block;
    max-width: 100%;
    margin: auto;
    align-items: center;
}
.img_wrat {
    max-width: 100%;
}
.title_1 {
    font-size: 18px;
    font-weight: 600;
}
.main_footer .title_1 {
    padding-bottom: 15px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}
.sec10 {
    padding-top: 30px;
    box-sizing: border-box;
    padding-bottom: 30px;
}
.checkbox1{
display: block;	
}
.cont_icon_o.list_type_d .heding_con {
    padding-top: 11px;
    margin-bottom: 10px;
}
.cont_icon_o.list_type_d .cont_limi {
    min-height: auto;
}
.sec08 {
    padding-top: 50px;
    box-sizing: border-box;
    padding-bottom: 50px;
}	
.sec07 {
    padding-top: 50px;
    box-sizing: border-box;
}
.sec06{
	padding:50px 0px;
	box-sizing: border-box;
}
.main_heading {
    padding-bottom: 0;
    box-sizing: border-box;
}
.list_out li span.icon_check {
    float: none;
    width: 25px;
    height: 25px;
}
.list_out li span.con_list {
    float: none;
    width: calc(100% - 28px);
    font-size: 12px;
}
.list_out li {
    display: block;
    float: none;
    width: 100%;
}
.sec02{
	background-image: unset;
}
.img_mobile{
    display: block;
}
.top_mobile_img{
    display: block;
}
.img_top{
    display: none;
}
.top_mobile_img img {
    width: 100%;
}
.sec01{
	padding-bottom: 0;
}
.main_form {
    margin-top: 20px;
     margin-bottom: 20px;
}
#navbarTogglerDemo02 {
    background:#1C0732;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    padding: 10px;
    z-index: 9999;
}
.main_title h1{
    font-size: 20px;
}
.main_title h1 br {
    display: none;
}
.sec01{
    margin-bottom: 30px
}
.sec01 .main_title{
    padding-top: 50px;
    padding-bottom: 0;
    text-align: center;
}
.sec02 .title_1 br {
    display: none;
}
.sec_n .cont_limi{
    min-height: auto;
}
.main_footer .title_1 br{
    display: none;
}
.cont_icon_o.svg_img .cont_limi {
    min-height: auto;
}
.cont_limi{
  min-height: auto;  
}
.cont_icon_o{
    padding: 25px;
}
.link_wr li{
    display: block;
    width: 100%;
    float: none;
}
.our_cont_steps {
    margin-bottom: 20px;
}

.our_cont_steps .ix_icon {
    min-height: unset;
}
.section10 h2.title_f {
    text-align: center;
    margin-bottom: 20px;
}
.section012 .img_founder {
    margin-bottom: 20px;
}
.navbar-light .navbar-toggler-icon{
    background-image: url(../img/menu.png);
    background-size: cover;
    background-position: top 2px center;
    font-size: 13px;
}
.navbar-light .navbar-toggler {
    background-color: transparent;
    border: solid 1px #ffff;
    padding: 5px 10px;
    box-sizing: border-box;
}
.navbar-light .navbar-toggler-icon{
    background-image: url(../img/menu.png);
    background-size: cover;
    background-position: top 2px center;
    font-size: 13px;
}
.navbar-light .navbar-toggler {
    background-color: transparent;
    border: solid 1px #ffff;
    padding: 5px 10px;
    box-sizing: border-box;
}
.main_header{
    position: relative;
}
#navbarTogglerDemo02 {
    position: absolute;
    top: 68px;
    left: 0;
    background: #52bd94;
    width: 100%;
    padding: 15px 30px 50px;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.main_header .container {
    position: relative;
}

.cont_us.btn.btn3 {
    background: transparent;
    color: #52BD94;}

.cont_us.btn.btn3 a {
    color: #52bd94;
    background: white;
}
.main_heading p br {
    display: none;
}
}