@media (max-width:1330px){
/*sec4*/
.img1 {
    position: absolute;
    left: 20px;
    top: 32px;
    line-height: normal;
    width: 90px;
    height: 90px;
    background: #21A6DF;
    line-height: 90px;
    border-radius: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.img2 {
    left: 200px;
    top: -46px;
}
.img3 {
    right: 33px;
    top: 30px;
    left: unset;
}
.img4 {
    right: -47px;
    top: 200px;
    left: unset;
}

.img5 {
    right: 20px;
    bottom: 39px;
    left: unset;
    top: unset;
}
.img6 {
    right: 200px;
    bottom: -46px;
    left: unset;
    top: unset;
}
.img7 {
    right: unset;
    bottom: 30px;
    left: 20px;
    top: unset;
}
.img8 {
    right: unset;
    bottom: 200px;
    left: -46px;
    top: unset;
}
.img1::after {
    content: "";
    position: absolute;
    background-image: url(../images/Line10.png);
    height: 100px;
    width: 13px;
    left: 105px;
    top: 49px;
    transform: rotate(312deg);
    display: block;
    z-index: 999;
    background-repeat: no-repeat;
}


.img2::after {
    content: "";
    position: absolute;
    background-image: url(../images/Line10.png);
    height: 100px;
    width: 13px;
    left: 50%;
    top: unset;
    bottom: -87px;
    transform: translateX(-50%);
    display: block;
    z-index: 999;
    background-repeat: no-repeat;
}
.img3::after {
    content: "";
    position: absolute;
    background-image: url(../images/Line10.png);
    height: 100px;
    width: 13px;
    left: -15px;
    top: unset;
    bottom: -61px;
    transform: rotate(45deg);
    display: block;
    z-index: 999;
    background-repeat: no-repeat;
}

.img4::after {
    content: "";
    position: absolute;
    background-image: url(../images/Line10.png);
    height: 100px;
    width: 13px;
    left: -45px;
    top: 0px;
    transform: rotate(90deg);
    display: block;
    z-index: 999;
    background-repeat: no-repeat;
}

.img5::after {
    content: "";
    position: absolute;
    background-image: url(../images/Line10.png);
    height: 100px;
    width: 13px;
    left: -19px;
    top: -61px;
    transform: rotate(135deg);
    display: block;
    z-index: 999;
    background-repeat: no-repeat;
}
.img6::after {
    content: "";
    position: absolute;
    background-image: url(../images/Line10.png);
    height: 100px;
    width: 13px;
    left: 36px;
    top: -88px;
    transform: rotate(180deg);
    display: block;
    z-index: 999;
    background-repeat: no-repeat;
}
.img7::after {
    content: "";
    position: absolute;
    background-image: url(../images/Line10.png);
    height: 100px;
    width: 13px;
    left: 50px;
    top: -87px;
    transform: rotate(225deg);
    display: block;
    z-index: 999;
    background-repeat: no-repeat;
}
.img7::after {
    content: "";
    position: absolute;
    background-image: url(../images/Line10.png);
    height: 100px;
    width: 13px;
    left: 100px;
    top: -62px;
    transform: rotate(225deg);
    display: block;
    z-index: 999;
    background-repeat: no-repeat;
}
.img8::after {
    content: "";
    position: absolute;
    background-image: url(../images/Line10.png);
    height: 100px;
    width: 13px;
    left: 125px;
    top: -5px;
    transform: rotate(270deg);
    display: block;
    z-index: 999;
    background-repeat: no-repeat;
}
/*sec5*/
.img_sec_soc {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    position: relative;
}
.img_sec_soc img {
    border-radius: 100%;
}
.main_circle {
    width: 450px;
    height: 450px;
    padding: 60px;
    background: linear-gradient(180deg, rgba(222, 245, 255, 0.82) 0%, rgba(253, 250, 255, 0) 100%);
    border-radius: 100%;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

}

@media(max-width:1284px) and (min-width: 1200px){
.img4 {
    right: -33px;
}
}
@media(max-width:1199px) and (min-width:992px){
.main_sec h1 {
    font-size: 39px;
    font-weight: 700;
}
.img4 {
    right: -28px;
    top: 180px;
    left: unset;
}
.img_sec_soc {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: relative;
}
.img_circle {
    width: 400px;
    height: 400px;
    background: #283A5B;
    text-align: center;
    border-radius: 100%;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    line-height: 400px;
    margin-left: auto;
}
.main_circle {
    width: 400px;
    height: 400px;
    padding: 60px;
    background: linear-gradient(180deg, rgba(222, 245, 255, 0.82) 0%, rgba(253, 250, 255, 0) 100%);
    border-radius: 100%;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}
.img4 {
    right: -15px;
    top: 180px;
    left: unset;
}
.star_img{
     top: 15px;
	 left: 55px;
}
.Ellipse39_img {
    top: 50px;
    right: 15px;
}
.Vector1_img{
    bottom: 25px;	
}
.circle_img{
    right: 15px;	
}
.img1 {
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}
.img1::after {
    left: 52px;
    top: 5px;
    z-index: -1;
}
.img2 {
    left: 160px;
    top: -46px;
}
.img4 {
    right: -19px;
    top: 160px;
    left: unset;
}
.img2::after {
    left: 50%;
    top: unset;
    bottom: -70px;
    z-index: -1;
}
.img6 {
    right: 160px;
    bottom: -30px;
    left: unset;
    top: unset;
}
.img6::after {
    left: 23px;
    top: -49px;
    z-index: -1;
}
.img8 {
    right: unset;
    bottom: 175px;
    left: -37px;
    top: unset;
}
.img8::after {
    left: 63px;
    top: -20px;
    z-index: -1;
}
.img4::after {
    left: 3px;
    top: -19px;
    z-index: -1;
}
.img3::after {
    left: 5px;
    top: unset;
    bottom: -43px;
    z-index: -1;
}
.img7::after {
    
    left: 48px;
    top: -42px;
    z-index: -1;
}
.img5::after {
    
    left: 0px;
    top: -40px;
     z-index: -1;
}
.sec_new_about .conta_ab{
  min-height: 415px;
}
.main_title .list_cont .img_ex .span_tag {
    font-size: 13px;
}
.list_cont .img_ex {
    font-size: 13px;
}
}
@media(max-width: 1023px){
	.list_cont ul li {
    float: left;
    width: 100%;
}
.sec_new_about .conta_ab{
  min-height: 415px;
}
}

@media(max-width: 991px) and (min-width: 768px){
	.main_sec h1 {
    font-size: 28px;
    font-weight: 700;
}
.img1 {
    position: absolute;
    /*left: 0;
    top: 0;*/
    line-height: normal;
    width: 60px;
    height: 60px;
    background: #21A6DF;
    line-height: 60px;
    border-radius: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.img_circle {
    width: 300px;
    height: 300px;
    background: #283A5B;
    text-align: center;
    border-radius: 100%;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    line-height: 300px;
    margin-left: auto;
}
.main_circle {
    width: 300px;
    height: 300px;
    padding: 60px;
    background: linear-gradient(180deg, rgba(222, 245, 255, 0.82) 0%, rgba(253, 250, 255, 0) 100%);
    border-radius: 100%;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}
.img_sec_soc {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: relative;
}
.img4 {
    right: -27px;
    top: 180px;
    left: unset;
}
.star_img {
    top: 0px;
    left: 36px;
}
.Ellipse39_img {
    top: 32px;
    right: 0;
}
.Vector1_img{
	bottom: 40px;
    left: 70px;
}
.chart_img {
    position: absolute;
    bottom: 70px;
    z-index: 999;
    right: -35px;
}
.inner_man_img {
    max-width: 150px;
    margin: auto;
}
h2.title {
    font-size: 25px;
}
.img1 {
    left: 10px;
    top: 15px; 
}
.img1::after{
left: 56px;
    top: 8px;	
}
.img2 {
    left: 120px;
    top: -26px;
}

.img2::after{
left: 30px;
top: 20px;
}
.img3 {
    right: 15px;
    top: 0px;
    left: unset;
}
.img3::after{
left: -15px;
    top: unset;
    bottom: -61px;	
}
.img4 {
    right: -27px;
    top: 100px;
    left: unset;
}
.img4::after {
    
    left: -13px;
    top: -18px;
    z-index: -1;
}
.img5 {
    right: 0px;
    bottom: 30px;
    left: unset;
    top: unset;
}
.img5::after{
    left: -5px;
    top: -52px;	
}
.img6 {
    right: 120px;
    bottom: -31px;
    left: unset;
    top: unset;
}
.img6::after{
left: 25px;
    top: -59px;	
    z-index: -1;
}
.img7 {
    right: unset;
    bottom: 25px;
    left: 0px;
    top: unset;
}
.img7::after {
    left: 57px;
    top: -49px;
}


.img8 {
    right: unset;
    bottom: 120px;
    left: -38px;
    top: unset;
}
.img8::after {
    left: 74px;
    top: -19px;
    z-index: -1;
}
.img_mailchimp {
    right: 20px;
    width: 50px;
    height: 50px;
    top: 15px;
}
.img_facebook {
    left: -10px;
    width: 75px;
    height: 75px;
    top: 20px;
}
.img_google {
    right: 10px;
    width: 75px;
    height: 75px;
    bottom: 20px;
}
.img_Rectangle175q {
    left: 10px;
    width: 50px;
    height: 50px;
    bottom: 30px;
}
/*.sec_05 .col-md-4 {
    width: 100%;
}*/
.cpt_rd p {
    min-height: 100px;
}
.ftd {
    min-height: 160px;
    margin-bottom: 0;
}
.sec_about::after{
  height: 100px
}
.main_img {
    display: block;
}

.round_img {
    float: none;
    margin: auto;
}

.quets_wrap {
    width: 100%;
    display: block;
    padding: 0;
    padding-top: 10px;
}
.sec_new_about .conta_ab{
  margin-bottom: 30px;
}
.sec_new_about .conta_ab {
    min-height: auto;
}
.mian_list ul li {
    width: 100%;
    float: none;
    margin-bottom: 15px;
    display: block;
}
}
@media(max-width: 767px) and (min-width: 320px){
	.col-md-6:nth-of-type(even) .ourcopt {
    float: none;
    max-width: 100%;
}
.col-md-6:nth-of-type(odd) .ourcopt {
    float: none;
    max-width: 100%;
}
.cpt_rd p {
    text-align: justify;
    color: #999999;
    min-height: 100px;
}
.cont_nam .ourcopt{
	max-width: 100%;
}
.cont_nam .ourcopt {
   
    max-width: 95%;
    float: none;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 0;
    position: relative;
    margin: auto;
    margin-bottom: 15px;
}
/*.img1 {
    display: none;
}*/
.img_circle{
	width: 300px;
	height: 300px;
	line-height: 300px;
  margin: auto;
}
.main_circle {
    width: 300px;
	height: 300px;
	line-height: normal;
}
.inner_man_img {
    max-width: 200px;
    margin: auto;
}
.img_sec_soc {
    width: 300px;
	height: 300px;
	/*line-height: 300px;*/
	position: relative;
}
.main_sec h1 {
    font-size: 24px;
    font-weight: 700;
}
h2.title {
   
    font-size: 22px;
}
.cont_nam .ourcopt {
    padding-left: 20px;
    margin-bottom: 50px;
}
.imag_u {
    position: unset;
    margin: auto;
    transform: translate(0% , 0%);
    margin-top: -60px;
}
.list_title {
    min-height: unset;
}
.ftd {
    padding-bottom: 20px;
    box-sizing: border-box;
}
.form_contacrt {
    margin-top: 30px;
}
footer .col-sm-12 {
    margin-bottom: 10px;
}
.img_facebook img{
	line-height: 100px !important;
}
.main_sec {
    margin-bottom: 25px;
}
.star_img { 
    top: 5px;
    left: 42px;
}
.chart_img {
    bottom: 25px;
    right: -35px;
}
.Ellipse39_img {
    top: 74px;
    right: -20px;
    z-index: 1;
}
.circle_img {
   
    right: 38px;
    bottom: 56px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
}
.Vector1_img{
	left: 90px;
	bottom: 20px;
}
.img1 {
    left: 39px;
    top: 35px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.img2 {
    left: 120px;
    top: 0;
}
.img3 {
    right: 30px;
    top: 44px;
    left: unset;
}
.img4 {
    right: 0;
    top: 128px;
    left: unset;
}
.img5 {
    right: 35px;
    bottom: 36px;
    top: unset;
    position: absolute;
    left: unset;
}
.img1::after{
	display: none;
}
.img6 {
    bottom: 0;
    top: unset;
    left: 120px;
    right: unset;
}
.img7 {
    right: unset;
    bottom: 42px;
    left: 31px;
    top: unset;
}
.img8 {
    right: unset;
    bottom: 127px;
    left: 0;
    top: unset;
}
.main_sec {
    text-align: center;
}
.img_sec_soc{
  margin: auto;
}
.img_facebook {
    width: 70px;
    height: 70px;
}
.img_mailchimp {
    width: 50px;
    height: 50px;
}
.img_google{
  width: 70px;
    height: 70px;
}
.img_Rectangle175q{
  width: 50px;
    height: 50px;
}
.sec_about::after {
    content: "";
    display: block;
    width: 50%;
    height: 80px;
    background: #F1FBFF;
    right: 0;
    top: unset;
    position: absolute;
    transform: translate(0, 0);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    bottom: 010%;
    width: 100%;
}
.img_about_us {
    text-align: center;
}
.mian_list ul li {
    margin-bottom: 15px;
    width: 100%;
    float: none;
    display: block;
}
.sec_06 .ftd {
    min-height: auto;
}
.sec07 .main_title span {
    margin-bottom: 80px;
}
.img_gr.text-center {
    transform: scale(1);
    transition-duration: 1000ms;
    padding: 20px;
}
.img_gr.text-center:hover {
    transform: scale(1.1);
    transition-duration: 1000ms;
    padding: 20px;
    box-sizing: border-box;
}
.link_wr li {
    width: 100%;
    float: none;
}
.sec_new_about .conta_ab{
  margin-bottom: 30px;
}
.main_img {
    display: block;
}

.round_img {
    float: none;
    margin: auto;
}

.quets_wrap {
    width: 100%;
    display: block;
    padding: 0;
    padding-top: 10px;
}
.sec_new_about .conta_ab {
    min-height: auto;
}
}
/*cdp*/






