*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    padding:0;
    margin: 0;
    box-sizing: border-box;   
    font-family: 'Poppins', sans-serif;
    font-family: 14px;
}
p{
    font-size: 13px;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.clr{
    list-style: none;
}
ul{
    padding:0;
    margin:0; 
}
li{
    list-style: none;
}
span{
    font-size: 13px;
}
.logo{
    max-width: 120px;
}
.main_header {
    background: #F8F9FD;
    padding: 10px 0px;
    box-sizing: border-box;
    z-index: 9;
    position: relative;
}
.cont_us {
    background: #21A6DF;
}
.cont_us a {
    color: #fff;
}
.main_header .navbar-light .navbar-nav .nav-link {
    color: #000;
    margin-right: 15px;
}
.sec01{
    position: relative;
    margin-bottom: 150px;
}
.img_top_main {
    position: absolute;
    right: 0;
    top: -112px;
    overflow: hidden;
}
.our_1 {
    position: absolute;
    top: 130px;
    z-index: 999;
    left: 300px;
}
.our_2 {
    position: absolute;
    top: 130px;
    z-index: 999;
    left: 300px;
}
.our_2 {
    position: absolute;
    top: 270px;
    z-index: 999;
    left: 120px;
}
.our_3 {
    position: absolute;
    top: unset;
    z-index: 999;
    left: 62px;
    bottom: 220px;
}
.our_4 {
    position: absolute;
    bottom: 70px;
    z-index: 999;
    left: 250px;
}
.our_5 {
    position: absolute;
    bottom: 120px;
    z-index: 999;
    right: 260px;
}
.our_6 {
    position: absolute;
    bottom: 225px;
    z-index: 999;
    right: 89px;
}
.main_img {
    width: 90px;
    height: 90px;
}
.our_hg {
    position: absolute;
    bottom: 290px;
    left: 220px;
}
.main_title {
    padding-top: 100px;
    box-sizing: border-box;
    padding-bottom: 100px;
}

.sec02{
    position: relative;
    background:#F8F9FD;
    padding: 50px 0;
    box-sizing: border-box;
    background-image: url(../img/Maskgroup.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50%;
}
.list_out li {
    width: 50%;
    float: left;
}
.list_out li span.icon_check {
    float: left;
    width: 25px;
    height: 50px;
}
.list_out li span.con_list {
    float: left;
    width: calc(100% - 25px);
    font-size: 14px;

}
.title_1 {
    font-size: 30px;
    font-weight: 600;
}
/*section3*/
.sec03{
    padding-top: 100px;
    box-sizing: border-box;
}
.icon_home {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #21A6DF;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.cont_icon {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 25px;
}
.cont_icon:hover {
    background: #21A6DF;
    color: #fff;
}
.cont_icon:hover .icon_home {
    color: #21A6DF;
    background: #fff;
}
.cont_limi {
    min-height: 80px;
}
.main_heading {
    padding-bottom: 20px;
    box-sizing: border-box;
}
.cont_icon_o {
    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgb(112 144 176 / 10%);
    border-radius: 30px;
    padding: 50px 50px 50px;
    box-sizing: border-box;
    margin-bottom: 25px;
}
.heding_con {
    padding-top: 20px;
    box-sizing: border-box;
}
.our_imag {
    width: 150px;
    height: 150px;
    margin: auto;
}
/*section4*/
.sec04{
    padding-top: 100px;
    box-sizing: border-box;
}
/*section5*/
.sec05{
    padding-top: 100px;
    box-sizing: border-box;
}
.cont_icon_o.greay_box {
    background: #F8F9FD;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 16px 40px rgb(255 255 255 / 10%);
}
.cont_icon_o.greay_box h6 {
    color: #21A6DF;
    position: relative;
    padding-left: 10px;
    box-sizing: border-box;
}
.cont_icon_o.greay_box h6::after {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    display: block;
    background: #21A6DF;
}

/*section6*/
.sec06 {
    background: #21A6DF;
    padding: 80px 0;
    box-sizing: border-box;
}

.text_white {color: #fff;}

.text_white .cont_us.btn.btn3 {
    background: #fff;
}

.text_white .cont_us.btn.btn3 a {
    color: #21A6DF;
}
.cont_icon_o.svg_img {
    padding: 50px 15px 15px;
    box-sizing: border-box;
    position: relative;
}
.cont_icon_o.svg_img::after {
    content: "";
    width: 50px;
    height: 5px;
    display: block;
    position: absolute;
    background: #21A6DF;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0px);
    border-radius: 10px;
}
.cont_icon_o.svg_img .our_imag {
    width: 100px;
    height: 100px;
    margin: auto;
}
.cont_limi {
    min-height: 120px;
    margin-bottom: 0;
}

/*section7*/
.sec07 {
    padding-top:100px;
    box-sizing: border-box;
}
/*section8*/
.sec08 {
    padding-top:100px;
    box-sizing: border-box;
    padding-bottom: 100px;
}
.cont_icon_o.img_th {
    padding: 0;
    box-shadow: unset;
    margin: 0;
}

.cont_icon_o.img_th .our_imag {
    width: auto;
    height: auto;
}

.cont_icon_o.img_th .our_imag img {
    width: 100%;
    border-radius: 30px;
}
.cont_icon_o.list_type_d {
    box-shadow: unset;
    padding: 0px 0px 0px 10px;
    box-sizing: border-box;
    margin-bottom: 0;
}
.cont_icon_o.list_type_d .cont_limi {
    min-height: 90px;
}
.cont_icon_o.list_type_d .heding_con {
    padding-top: 0;
    margin-bottom: 10px;
}
/*section9*/
.sec09{
    padding: 50px 0;
    box-sizing: border-box;
    background:#F8F9FD;

}

.main_contant {
    display: flex;
    max-width: 70%;
    margin: auto;
    align-items: center;
}

.inner_img_clinet {
    width: 180px;
    border-radius: 15px;
    overflow: hidden;
}

.inner_img_clinet::after {
    content: "";
    position: absolute;
    top: 22px;
    width: 100%;
    display: block;
    left: 50%;
    height: 50px;
    background: #21A6DF;
    z-index: -1;
    border-radius: 15px;
    max-width: 80%;
    margin: auto;
    transform: translate(-50%, 0px);
    box-shadow: 8px 8px 30px rgba(124, 124, 124, 0.25);
}
.inner_img_clinet::before {
    content: "";
    position: absolute;
    bottom: 22px;
    width: 100%;
    display: block;
    left: 50%;
    height: 50px;
    background: #21A6DF;
    z-index: -1;
    border-radius: 15px;
    max-width: 80%;
    margin: auto;
    transform: translate(-50%, 0px);
    box-shadow: 8px 8px 30px rgba(124, 124, 124, 0.25);
}

.img_client {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
.cont_warap {
    margin-bottom: 0;
    padding: 0 50px;
    position: relative;
}
.cont_warap::after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    background-image: url('../img/left.svg');
    background-repeat: no-repeat;
    z-index: 1;
    background-size: contain;
}
.cont_warap::before {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: 0;
    background-image: url(../img/right.svg);
    background-repeat: no-repeat;
    z-index: 1;
    background-size: contain;
}
.clinet_cont {
    padding-left: 20px;
    box-sizing: border-box;
}
.cont_limi {
    min-height: 80px;
    margin-bottom: 0;
}
.slider_gtf .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 20px;
}
.sec09 .owl-theme .owl-dots .owl-dot.active span, .sec09 .owl-theme .owl-dots .owl-dot:hover span {
    border: solid 2px #21A6DF;
    background: transparent;
}
.cont_icon .without_hover {
    display: block;
}
.cont_icon .on_hover {
    display: none;
}
.cont_icon:hover .without_hover {
    display: none;
}
.cont_icon:hover .on_hover {
    display: block;
}

.cont_icon .icon_home img {
    width: 30px;
    margin: auto;
}
/*.sec_n .icon_home {
    padding-top: 8px;
    margin-bottom: 0;
}*/
.sec_n .cont_limi{
min-height: 120px;
}
/*section 10*/
.sec10{
    padding-top: 100px;
    box-sizing: border-box;
    padding-bottom: 100px;
}

.our_brands img {
    max-width: 150px;
}

.our_brands {
    height: 70px;
    background: transparent;
    text-align: center;
    line-height: 70px;
    display: block;
}

.our_brands img {
    padding-top: 7px;
    box-sizing: border-box;
}

/*footer*/
.main_footer {
    background: #21A6DF;
    padding: 50px 0;
    box-sizing: border-box;
}
.main_footer .title_1 {
    padding-bottom: 50px;
    box-sizing: border-box;
    color: #fff;
}
.main_form input {
    background: #3EB2E3;
    height: 50px;
    border-radius: 15px;
}
.main_form input:focus {
    background: #3EB2E3;
    height: 50px;
    box-shadow: unset;

}
.main_form input::placeholder{
    color: #fff;
    font-size: 14px;
}
button.our_chen.cont_us.btn.btn3 {
    background: #fff;
    color: #21A6DF;
    font-size: 14px;
}
.img_wrat {
    max-width: 60%;
}
/*radio Button */

.our_ser_r {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}
/* The container */
.checkbox1 {
  display: block;
  position: relative;
  padding-left: 12px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  color: #fff;
  display: inline;
  margin-right: 5px;
  width: 31.60%;
  display: inline-block;
}

/* Hide the browser's default checkbox */
.checkbox1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: transparent;
    border-radius: 100%;
    border: solid 2px #fff;
}

/* On mouse-over, add a grey background color */
/*.checkbox1:hover input ~ .checkmark {
  background-color: #fff;
}*/

/* When the checkbox is checked, add a blue background */
.checkbox1 input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox1 .checkmark:after {
    left: -2px;
    top: -2px;
    width: 15px;
    height: 15px;
    border: solid white;
    border-width: unset;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(0deg);
    border: 0;
    background: #fff;
    border-radius: 100%;
}
.img_mobile{
    display: none;
}
.img_mobile img {
    width: 100%;
    margin-bottom: 20px;
}
.top_mobile_img{
    display: none;
}
.img_top{
    display: block;
}

.cont_us {
    padding: 0;
    background: transparent;
}
.cont_us a {
    padding: 10px 20px;
    border: solid 1px #21A6DF;
    background: transparent;
    color: #21A6DF;
    display: block;
    border-radius: 15px;
}
.sec06 .cont_us.btn.btn3 {
        /*background: #fff;
    color: #21A6DF;
    border: solid 1px transparent;
    padding: 0;*/
    padding: 10px 20px;
    border: solid 1px #21A6DF;
    background: transparent;
    color: #21A6DF;
    /* display: block; */
    border-radius: 15px;
}
.sec06 .cont_us.btn.btn3 a {
    color: #21A6DF;
    background: #fff;
    border: transparent;
    border-radius: 15px;
}
.our_chen.cont_us.btn.btn3{
  padding: 10px 20px;
    border: solid 1px #21A6DF;
    background: #fff;
    color: #21A6DF;
    display: block;
    border-radius: 15px;  
}
.cont_icon_o.svg_img .cont_limi {
    min-height: 120px;
}
.cont_us:hover a {
    border: solid 1px #21A6DF;
    background: #21A6DF;
    color: #fff;
    display: block;
    border-radius: 15px;
}
footer .col-md-6 {
    padding-right: 0;
}
.main_toolip a{
    font-size: 10px;
}
.main_toolip a span i {
    width: 25px;
    height: 25px;
    background: transparent;
    color: #000;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    border-radius: 100%;
    border: solid 2px #000;
}
/*.tool_tip {
    width: 25px;
    height: 25px;
    text-align: center;
    display: inline-block;
    background: #fff;
    border-radius: 100%;
    border: solid;
    right: 0;
}
.tolltip {
    position: absolute;
    width: 300px;
    background: #21a6df54;
    padding: 20px;
    border-radius: 20px;
    top: 0;
    right: 0;
}
.cont_icon_o.list_type_d .heding_con{
    position: relative;
}*/
.main_toolip{
    float: right;
}
.cont_limi.long_cont {
    min-height: 100px;
}
.cust_name {
    display: block;
    margin-bottom: 0;
    padding: 10px 50px;
    position: relative;
}
.cust_name b {
    color: #21A6DF;
}